				*{padding:0;margin:0;}
				a{text-decoration:none;}
				body{display:flex;}
				.flexbox{display:flex;background-color:white;width:1300px;height:3589px;margin:0 auto;flex-direction:column;}
				.head{height:85px;width:1300px;}
				.head img {margin-top:21px;margin-left:134px;float:left;}
				.headtext1{color:#6d6e70;font-size:31px;margin-top:21px;margin-left:19px;float:left;}
				.headtext2{color:#b7b7b7;font-size:13px;width:550px;height:85px;margin-left:70px;float:left;display:flex;flex-direction:row;justify-content:space-between;align-items:center;}
				.headjj{margin-left:29px;margin-top:35px;float:left;}
				.headjj1{margin-left:100px;margin-top:35px;float:left;}
				.circle{width:100px;height:37px;font-size:13px;color:white;background-color:#bcda5c;border-radius:18px;float:left;margin-top:24px;margin-left:75px;text-align:center;line-height:37px;}
				.imgdj{width:1300px; height:570px; text-align:center; line-height:570px; background-color:rgba(0,0,0,0.1);position:absolute;top:0px;left:0px;}
				.img1{position:relative;}
				.img1 img {display:block;}
				.imgtext1{position:absolute;top:168px;left:200px;font-size:48px;color:white;}
				.imgtext2{position:absolute;top:244px;left:580px;font-size:30px;color:white;}
				.circle2{width:254px;height:73px;font-size:20px;color:white;background-color:#bcda5c;border-radius:18px;text-align:center;line-height:73px;position:absolute;top:330px;left:527px;}
				.block3{width:1300px;height:1050px;position:relative;overflow:hidden;}
				.block3 img {display:block;margin-top:99px;margin-left:654px;float:left;}
				.block3text1big{margin-top:209px;margin-left:398px;font-size:31px;color:#515151;}
				.block3text2big{margin-top:0px;margin-left:490px;font-size:31px;color:#515151;}
				.block3text1small{margin-top:70px;margin-left:192px;font-size:19px;color:#919191;}
				.block3text2small{margin-left:322px;font-size:19px;color:#919191;}
				.block3text3small{margin-top:47px;margin-left:196px;font-size:19px;color:#919191;}
				.block3text4small{margin-left:409px;font-size:19px;color:#919191;}
				.blockcircle1{background-color:#add136;width:44px;height:44px;border-radius:22px;line-height:44px;text-align:center;color:white;font-size:20px;float:left;}
				.blockcircle1text{font-size:33px;color:#656565;float:left;}
				.blockcircle2{background-color:#5f5f5f;width:44px;height:44px;border-radius:22px;line-height:44px;text-align:center;color:white;font-size:20px;float:left;}
				.blockcircle3{background-color:#5f5f5f;width:44px;height:44px;border-radius:22px;line-height:44px;text-align:center;color:white;font-size:20px;float:left;}
				.bc1{margin-left:164px;margin-top:156px;}
				.bc2{margin-left:474px;}
				.bc3{margin-left:858px;}
				.linebk{margin-top:10px;margin-left:161px;float:left;height:1px;}
				.shuipingline1{width:201px;border:1px #add136 solid;float:left;}
				.shuipingline2{width:779px;border:1px #e6e6e6 solid;float:left;}
				.bkimg{clear:left;margin-top:87px;margin-left:249px;float:left;}
				.bkimg img {clear:left;margin-top:0px;margin-left:0px;float:left;}
				.block3textbt{clear:left;color:#add136;font-size:25px;margin-left:0px;margin-top:0px;vertical-align:middle;}
				.bk{width:750px;margin-left:105px;margin-top:65px;float:left;}
				.block3text1{color:#a6a6a6;font-size:17px;margin-top:0px;margin-left:0px;}
				.block3text2{color:#a6a6a6;font-size:17px;margin-left:0px;margin-top:0px;}
				.mid{width:1300px;height:305px;overflow:hidden;}
				.midleft{width:650px;height:305px;background-color:#e2f8ff;float:left;}
				.midleft img {margin-left:141px;margin-top:84px;float:left;}
				.midlefttext1{font-size:23px;margin-left:320px;margin-top:46px;color:#515151;}
				.midlefttext2{font-size:17px;margin-left:320px;margin-top:30px;color:#515151;}
				.midlefttext3{font-size:17px;margin-left:320px;margin-top:10px;color:#515151;}
				.midleftbam{width:187px;height:51px;font-size:15px;line-height:51px;text-align:center;color:white;background-color:#26a6d1;border-radius:9px;margin-top:25px;margin-left:322px;}
				.midright{width:650px;height:305px;background-color:#f5f9eb;float:left;}
				.midright img {margin-left:141px;margin-top:84px;float:left;}
				.bot{background-image:url(../images/7.png);width:1300px;height:1382px;position:relative;overflow:hidden;}
				.textgroup1{margin-left:161px;margin-top:81px;float:left;position:relative;}
				.textgroup1-1{color:#515151;font-size:30px;}
				.textgroup1-2{color:#989898;font-size:17px;}
				.bam{color:#919191;font-size:15px;width:183px;height:52px;line-height:52px;text-align:center;border:1px solid #919191;border-radius:9px;float:left;margin-left:124px;margin-top:108px;float:left; }
				.imggroup{margin-left:161px;margin-top:66px;clear:left;float:left;position:relative;}
				.imggroup-1{float:left;overflow:hidden;position:relative;}
				.imggroup-1-1{background-color:#f9f9f9;width:300px;height:520px;border-radius:18px;}
				.new{width:74px;height:74px;background-image:url(../images/9.png);position:absolute;}
				.imggroup-1-2{font-size:17px;color:#484848;}
				.imggroup-1-3{font-size:13px;color:#d1d1d1;letter-spacing:-1px;}
				.imggroup-1-4{position:absolute;top:255px;left:24px;width:300px;}
				.imggroup-1-5{position:absolute;top:389px;left:24px;}
				.imggroup-1-6{font-size:13px;color:#a6a6a6;position:absolute;left:24px;top:423px;}
				.imggroup-1-7{font-size:13px;color:#a6a6a6;position:absolute;left:206px;top:423px;}
				.imggroup-1-9{font-size:15px;color:#8a8a8a;float:left;}
				.imggroup-1-8 img {float:left;margin-left:11px;margin-top:3px;}
				.imggroup-1-8{position:absolute;top:479px;left:110px;}
				.imggroup-1-10{width:139px;height:35px;background-color:#26a6d1;border-radius:9px;text-align:center;line-height:35px;color:white;position:absolute;top:173px;left:146px;}
				.imggroup-2{float:left;overflow:hidden;margin-left:41px;position:relative;}
				.line111{color:#d6d6d6;width:252px;position:absolute;top:453px;left:23px;}
				.text1{color:#9ec02d;font-size:39px;margin-left:221px;margin-top:78px;float:left;}
				.text2{color:#9c9c9c;font-size:19px;margin-left:190px;margin-top:41px;float:left;}
				.text3{color:#9c9c9c;font-size:19px;margin-left:361px;margin-top:13px;float:left;}
				.group1{width:397px;height:166px;background-image:url(../images/15.png);float:left;margin-top:91px;margin-left:173px;overflow:hidden;}
				.group1-1{font-size:21px;color:#adc959;margin-top:25px;margin-left:107px}
				.group1-2{color:#848484;font-size:13px;letter-spacing:-1px;margin-top:15px;margin-left:36px;}
				.group1-3{color:#848484;font-size:13px;letter-spacing:-1px;margin-left:36px;}
				.group1-4{color:#848484;font-size:13px;letter-spacing:-1px;margin-left:130px;float:left;}
				.group2{width:397px;height:166px;background-image:url(../images/15.png);float:left;margin-top:91px;margin-left:155px;float:left;overflow:hidden;}
				.group3{clear:left;float:left;margin-left:222px;margin-top:14px;}
				.group img {float:left;}
				.group4{height:60px;line-height:60px;text-align:center;float:right;margin-left:19px;font-size:15px;}
				.group5{float:left;margin-left:356px;margin-top:14px;}
				.bot1{width:1300px;height:131px;background-color:white;}
				.bot1 img {margin-top:45px;margin-left:132px;display:block;}
				.bot2{border:1px solid #ededed;}
				.bot3-1{font-size:13;color:#848484;margin-left:536px;margin-top:27px;}